<div class="container">
  <div class="row upperDiv">
    <div class="col-md-4 headText" style="background: #005AA1;">
      <h1>Ettevõte</h1>
    </div>
    <div class="col-md-8 p-0">
      <img src="assets/libled.jpg" class="fixed-content">
    </div>
  </div>
</div>
<div class="container">
  <form class="submission-form" [formGroup]="companyForm" (ngSubmit)="updateCompany()">
    <label for="companyName">Ettevõte nimi: </label>
    <input type="text" id="companyName" formControlName="companyName">
    <label for="companyId">Ettevõte Id: </label>
    <input type="number" id="companyId" formControlName="companyCode">
    <label for="isCash">Maksmisviis: </label>
    <select name="isCash" id="isCash" formControlName="isCash">
      <option value="True">Sularaha</option>
      <option value="False">Pangakaart</option>
    </select>
    <label for="additional-info">Lisainfo: </label>
    <textarea id="additional-info" formControlName="additionalInfo"></textarea>
    <div>
      <button (click)="goBack()" class="btn btn btnBack" type="button">Tagasi</button>
      <button type="submit" class="btn btn btnAdd">Lisa</button>
    </div>
  </form>
</div>
