.upperDiv{
  height: 100px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fixed-content {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.headText{
  display: flex;
  justify-content: center;
  padding-top: 23px;
  color: #ffffff;
}

.participants{
  max-width: 900px;
  margin: 1rem auto;
  padding: 2rem;
}

.liPart{
  margin: 10px;
}

.mainUl{
  list-style: none;
  margin: 30px;
}

ul li span:nth-child(1){
  display: inline-block;
  width: 160px;
  padding-left: 10px;
}
ul li span:nth-child(2){
  display: inline-block;
  width: 180px;
}

ul li span1:nth-child(1){
  display: inline-block;
  width: 180px;
  padding-left: 10px;
}
ul li span1:nth-child(2){
  display: inline-block;
  width: 140px;
}
ul li span1:nth-child(3){
  display: inline-block;
  width: 80px;
}
ul li span1:nth-child(4) {
  display: inline-block;
  width: 80px;
}
.partUl{
  list-style: decimal;
  margin-top: 7px;
  margin-left: 10px;
}
.delete{
  color: red;
  cursor: pointer;
}
.delete:hover{
  color:#FA544F;
  text-decoration: underline;
}
