.upperDiv{
  height: 100px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fixed-content {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.headText{
  display: flex;
  justify-content: center;
  padding-top: 23px;
  color: #ffffff;
}
.linkEdit{
  cursor: pointer;
  color: #6D93D1;
}
.linkEdit:hover{
  cursor: pointer;
  color: #005AA1;
  text-decoration: underline;
}

.participants{
  max-width: 900px;
  margin: 1rem auto;
  padding: 2rem;
}

.liPart{
  margin: 10px;
}

.mainUl{
  list-style: none;
  margin: 30px;
}

ul li span:nth-child(1){
  display: inline-block;
  width: 160px;
  padding-left: 10px;
}
ul li span:nth-child(2){
  display: inline-block;
  width: 180px;
}

ul li span1:nth-child(1){
  display: inline-block;
  width: 180px;
  padding-left: 10px;
}
ul li span1:nth-child(2){
  display: inline-block;
  width: 140px;
}
ul li span1:nth-child(3){
  display: inline-block;
  width: 80px;
}
ul li span1:nth-child(4) {
  display: inline-block;
  width: 80px;
}
.partUl{
  list-style: decimal;
  margin-top: 7px;
  margin-left: 10px;
}
.delete{
  color: red;
  cursor: pointer;
}
.delete:hover{
  color:#FA544F;
  text-decoration: underline;
}
.radioBtn{
  margin-left: 200px;
}
.radioBtn2{
  margin-right: 200px;
}
.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  width: 100px;
}

.flex-child:first-child {
  margin-right: 20px;
}
.submission-form{
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  label{
    display: block;
    padding: .5rem 0 0px;
  }
  input, textarea, select{
    display: block;
    width: 100%;
  }
}
.btnAdd{
  margin: 10px 5px;
  width: 80px;
  background: #005AA1;
  color: #ffffff;
}
.btnAdd:hover{
  background: #6D93D1;
  color: black;
}
.btnBack:hover{
  background: #7A7676;
  color: #ffffff;
}
.btnBack{
  margin: 5px;
  width: 80px;
  background: #C9C3C1;
}
.forms{
  position: relative;
  top: -35px;
}

