<div class="container">
  <div class="row upperDiv">
    <div class="col-md-4 headText" style="background: #005AA1;">
      <h1>Osavõitjad</h1>
    </div>
    <div class="col-md-8 p-0">
      <img src="assets/libled.jpg" class="fixed-content">
    </div>
  </div>
</div>
<div class="container">
  <div class="participants">
    <h2>Osavõitjad</h2>
    <ul class="mainUl">
      <div *ngIf="event">
      <li class="liPart">
        <span class="name">Urituse nimi: </span>
        <span class="gottenName">{{event.eventName}}</span>
      </li>
      <li class="liPart">
        <span class="date">Toimumisaeg: </span>
        <span class="gottenDate">{{event.eventDate | date:'dd.MM.yyyy'}}</span>
      </li>
      <li class="liPart">
        <span class="place">Koht: </span>
        <span class="gottenPlace">{{event.place}}</span>
      </li>
      <li class="liPart">
        <span class="participantsTable">Osavõitjad: </span>
        <ul class="partUl">
           <li *ngFor="let person of selectedEventPersons">
             <span1 class="name">{{person.firstName}} {{person.lastName}}</span1>
             <span1 class="last-name">{{person.idNumber}}</span1>
             <span1 class="name"><a (click)="goEditPerson(person)">Vaata</a></span1>
             <span1 class="delete" (click)="deletePerson(person.id)">Kustuta</span1>
           </li>
          <li *ngFor="let company of selectedEventCompanies">
            <span1 class="name">{{company.companyName}} </span1>
            <span1 class="last-name">{{company.companyCode}}</span1>
            <span1 class="name"><a (click)="goEditCompany(company)">Vaata</a></span1>
            <span1 class="delete" (click)="deleteCompany(company.id)">Kustuta</span1>
          </li>
        </ul>
      </li>
      </div>
    </ul>
  </div>
  <div class="participants">
    <h2>Osavõitjate lisamine</h2>
    <div class="flex-container" style="margin-top: 30px;">
      <div class="flex-child magenta form-check radioBtn">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Eraisik
        </label>
      </div>
      <div class="flex-child green form-check radioBtn2">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Ettevõte
        </label>
      </div>
    </div>
    <app-create-company-form></app-create-company-form>
  </div>
</div>
