<div class="container">
  <form class="submission-form" [formGroup]="personForm" (ngSubmit)="updatePerson()">
    <label for="first-name">Eesnimi: </label>
    <input type="text" id="first-name" formControlName="firstName">
    <label for="last-name">Perenimi: </label>
    <input type="text" id="last-name" formControlName="lastName">
    <label for="idCode">Isikukood: </label>
    <input type="number" id="idCode" formControlName="idCode">
    <label for="idCode">Maksmisviis: </label>
    <select name="isCash" id="isCash">
      <option *ngFor="let method of isCashList" [ngValue]="method">{{method}}</option>
    </select>
    <label for="additional-info">Lisainfo: </label>
    <textarea id="additional-info" formControlName="additionalInfo"></textarea>
    <div>
      <button (click)="goBack()" class="btn btn btnBack" type="button">Tagasi</button>
      <button type="submit" class="btn btn btnAdd">Lisa</button>
    </div>
  </form>
</div>
