<footer class="footer">
  <div class="container">
  <div class="row">
    <div class="footer-col">
      <h4>Carbitur</h4>
      <li><a href="">Emanuel</a></li>
      <li><a href="">Grigor</a></li>
      <li><a href="">Bulahruz</a></li>
      <li><a href="">Van Der Vart</a></li>
    </div>
    <div class="footer-col">
      <h4>Fixues</h4>
      <li><a href="">Robin</a></li>
      <li><a href="">Wayne</a></li>
      <li><a href="">Luis</a></li>
      <li><a href="">Zinedine</a></li>
    </div>
    <div class="footer-col">
      <h4>Contact</h4>
      <li><a href="">Peankontor: Tallinn</a></li>
      <li><a href="">Väike-Ameerika 1, 1145 Tln</a></li>
      <li><a href="">Tel: 6574822</a></li>
      <li><a href="">Faks: 6774881</a></li>
    </div>
    <div class="footer-col">
      <h4>Follow Us</h4>
      <li><a href="">Facebook</a></li>
      <li><a href="">Instagram</a></li>
      <li><a href="">Twitter</a></li>
      <li><a href="">Linkedin</a></li>
    </div>
  </div>
  </div>
</footer>
