
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Lora:ital@1&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.carousel-inner > .carousel-item > img{
  height: 260px;
  width: 100%;
}
.carus{
  width: 100%;
}
.container {
  max-width: 1400px;
  width: 100%;
}
.card-body{
  height: 240px;
}
.welcomeTextDiv{
  background: #005AA1;
  color: #fff;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center
}
#textP{
  font-family: 'PT Serif', serif;
  font-size: 22px;
}
.gap100{
  padding-top: 20px;
  padding-bottom: 10px;
}
.headers{
  text-align: center;
  font-size: 30px;
  font-family: 'PT Serif', serif;
}



