@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Sansita+Swashed&family=Slabo+27px&display=swap');

.navbar a{
  font-size: 20px;
  font-family: 'Slabo 27px', serif;
  text-align: center;
  cursor: pointer;
}
