<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="assets/logo.svg" style="height: 45px; width: 200px;padding-left: 40px">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Avaleht<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lisa üritus</a>
      </li>
    </ul>
  </div>
  <img src="assets/symbol.svg" style="height: 60px; width: 200px;padding-left: 40px">
</nav>
