<nav class="navbar navbar-expand-lg navbar-light bg-light navBor">
  <img src="assets/logo.svg" class="navLogo" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav justify-content-center linksBar">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Avaleht<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-event">Lisa üritus</a>
      </li>
    </ul>
  </div>
  <img class="icon" src="assets/symbol.svg" style="height: 60px; width: 200px;padding-left: 40px">
</nav>
